<app-header></app-header>

<div id="layoutSidenav">
    <!-- ASIDE -->
    <app-sidebar></app-sidebar>
    <!-- ASIDE -->

    <!-- CONTENT -->
    <div id="layoutSidenav_content">
        <!-- CONTENT DINAMIC -->
        <main>

            <router-outlet></router-outlet>



        </main>
        <!-- CONTENT DINAMIC -->
        <!-- FOOTER -->
        <footer class="footer mt-auto footer-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 small">Copyright &copy; gdiux 2020</div>
                    <div class="col-md-6 text-md-right small">
                        <a href="#!">Privacy Policy</a> &middot;
                        <a href="#!">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER -->
    </div>
    <!-- CONTENT -->
</div>